* {
    font-family: "Dancing Script";
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.content-container {
    max-width: 1200px;
    margin: auto;
}

.header {
    background-color: #f062;
    box-shadow: 0 1px 3px #0002;
}

.main {
    background-color: #0001;
}

.footer {
    background-color: #06f3;
    border-top: 1px solid #dddddd;
}